* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container {
    width: 80%;
    margin: 15px auto;
}

/* product box */
.product {
    width: calc(100% / 3 - 20px);
    margin: 10px;
    float: left;
    position: relative;
    /* debug */
    /* background-color: red; */
}

/* img */
.product-img {
    position: relative;
}

.product-img img {
    width: 100%;
}

/* discounts and sustainability */
.prod

.product-discount {
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 5px;
}

.product-sustain {
    background-color: green;
    color: white;
    padding: 5px;
}

/* product info */
.product-brand {
    display: block;
}

.price-stand {
    text-decoration: line-through
}

/* product heart and discounts */
.product-heart {
    font-size: 30px;
    padding: 10px 15px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
}
