* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/* container */
.container {
    width: 80%;
    margin: 15px auto;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* product box */
.product {
    width: calc(100% / 3 - 20px);
    margin: 10px 10px 30px 10px;
    float: left;
    position: relative;
    cursor: pointer;
}

/* img */
.product-img {
    position: relative;
}

.product-img img {
    width: 100%;
}

.img-hover {
    position: absolute;
    left: 0;
    display: none;
}

.product:hover .img-hover {
    display: inline-block;
}

/* discounts and sustainability */
.product-addons {
    position: absolute;
    left: 0;
    bottom: 40px;
}

.product-discount {
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

.product-sustain {
    background-color: green;
    color: white;
    padding: 5px;
}

/* product info */
.product-brand {
    display: block;
}

.product-name {
    font-variant-caps: all-small-caps;
    margin-top: -5px;
}

.price-promo {
    color: red;
}

.price-stand {
    text-decoration: line-through;
}

/* product heart */
.product::after {
    content: '\2665';
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 20px;
}